.posts-content {
    margin: 0 0 20px 0;
}

.posts-content>article {
    text-indent: 30px;
}

.posts-footer {
    position: relative;
}

.posts-footer .comments-count {
    position: absolute;
    margin-top: 5px;
    right: 120px;
}

.posts-footer .category-info {
    position: absolute;
    right: 0;
}

.dd-category{
    width: 300px;
    float: left;
}

.section-title{
    background-color: lightgrey;
}

.new-post-block{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);

}