body {
    background-color: #fafafa;
    margin: 72px 0 0 30px;
}

h1,
p,
div {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.main-nav-panel {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.header-info {
    background-color: #24292e;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header-info>h1 {
    display: inline-block;
    font-family: consolas, sans-serif;
    font-size: 20px;
    color: lightgrey;
    padding: 10px 0 10px 20px;
}

.header-info p {
    /*display: inline-block;*/
    padding: 5px 20px;
    color: #666;
    background-color: #e0e0e0;
}

h4 {
    font-size: 16px;
    padding: 10px 0;
    color: grey;
}

#login-panel {
    display: none;
}

#show-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
}

#hide-form,
#btn-back {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px 0 0 0;
    background-color: #e0e0e0;
}