<h4>Test forum posts</h4>
<ul id="all-posts-sortable">
    <li>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Very important post  (try to drag this or other posts)</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt pariatur suscipit ex? Dolores ratione a esse, molestiae commodi ea. Earum cupiditate quasi, mollitia ut quis itaque culpa explicabo nam consequatur fugit, perspiciatis. Libero, iusto illo itaque molestiae? Debitis voluptatem numquam, consequuntur vero, explicabo itaque maxime. Voluptatibus animi veritatis totam commodi in temporibus blanditiis dolorem ipsum nesciunt minus inventore, hic dignissimos illo consequuntur dolore et, fugit placeat numquam velit voluptas quam culpa debitis! Autem nemo recusandae pariatur, facilis nulla molestias qui architecto cumque sint quae minima mollitia vel nisi unde minus eius ducimus, quidem quo similique magnam inventore! Recusandae, eligendi.
            </div>
        </div>
    </li> 
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">A not very important post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti neque pariatur repellat non culpa laudantium, mollitia aliquam vitae nulla, quisquam sint excepturi soluta corrupti, adipisci aliquid saepe officiis harum!
            </div>
        </div>
    </li>  
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">Regular post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, animi, deserunt. Maiores corporis quis recusandae unde soluta adipisci quidem debitis et temporibus. Molestiae sequi sapiente tempore accusamus, nulla fugit amet, mollitia quaerat vitae excepturi obcaecati facere soluta id. Facere explicabo corporis, sunt eius consectetur commodi repudiandae unde nobis ducimus quos.
            </div>
        </div>
    </li>  
     <li>
        <div class="panel panel-default">
            <div class="panel-heading">Regular post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, animi, deserunt. Maiores corporis quis recusandae unde soluta adipisci quidem debitis et temporibus. Molestiae sequi sapiente tempore accusamus, nulla fugit amet, mollitia quaerat vitae excepturi obcaecati facere soluta id. Facere explicabo corporis, sunt eius consectetur commodi repudiandae unde nobis ducimus quos.
            </div>
        </div>
    </li>  
     <li>
        <div class="panel panel-default">
            <div class="panel-heading">Regular post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, animi, deserunt. Maiores corporis quis recusandae unde soluta adipisci quidem debitis et temporibus. Molestiae sequi sapiente tempore accusamus, nulla fugit amet, mollitia quaerat vitae excepturi obcaecati facere soluta id. Facere explicabo corporis, sunt eius consectetur commodi repudiandae unde nobis ducimus quos.
            </div>
        </div>
    </li>  
     <li>
        <div class="panel panel-default">
            <div class="panel-heading">Regular post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, animi, deserunt. Maiores corporis quis recusandae unde soluta adipisci quidem debitis et temporibus. Molestiae sequi sapiente tempore accusamus, nulla fugit amet, mollitia quaerat vitae excepturi obcaecati facere soluta id. Facere explicabo corporis, sunt eius consectetur commodi repudiandae unde nobis ducimus quos.
            </div>
        </div>
    </li>  
    <li>
        <div class="panel panel-warning">
            <div class="panel-heading">Very off-topic post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti neque pariatur repellat non culpa laudantium, mollitia aliquam vitae nulla, quisquam sint excepturi soluta corrupti, adipisci aliquid saepe officiis harum!
            </div>
        </div>
    </li>  
    <li>
        <div class="panel panel-info">
            <div class="panel-heading">Simply test post</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi natus veniam eos, quaerat quos illo atque! Numquam vel quod sapiente, hic maiores eligendi! Reprehenderit accusamus assumenda illo eos saepe voluptates, possimus minima at corrupti voluptatem soluta neque dicta quisquam cum explicabo eius vel perspiciatis! Deleniti quo beatae amet dignissimos sint harum ea unde tenetur error natus fugit quae praesentium laboriosam fuga quidem debitis, incidunt at, nemo, dolorem perferendis ab provident.
            </div>
        </div>
    </li>  
</ul>