<h2>List of all users</h2>
  <p>This list is available for "admin" users only. Be careful when using it!</p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Email</th>
        <th>Posts</th>
        <th>Comments</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td class="table-username">{{username}}</td>
        <td>{{email}}</td>
        <td>{{posts}}</td>
        <td>{{comments}}</td>
        <td><button class="delete-user btn btn-danger btn-sm">delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>