<nav class="main-nav-panel" id="login-panel">
    <div id="container-sign-in">
        <h4>login or register</h4>
        <form>
            <div class="form-group">
                <label for="tb-username">Username:</label>
                <input type="text" placeholder="username" id="tb-username" class="form-control">
                <label for="tb-password">Password:</label>
                <input type="password" placeholder="password" id="tb-password" class="form-control">
            </div>
            <button id="btn-sign-in" class="btn btn-default">login</button>
            <a href="#/users/register" id="btn-register-new" class="btn btn-primary">register</a>
        </form>
    </div>
    <div id="container-sign-out">
        <h4>hello user</h4>
        <button id="btn-sign-out" class="btn btn-default">logout</button>
        <a href="#/users" id="btn-list-users" class="btn btn-info">list users</a>
        <a href="#/home" id="btn-go-home" class="btn btn-info">back to home page</a>
    </div>
    <button id="hide-form" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> hide</button>
</nav>