<nav>
    <h4>register a new user</h4>
    <form>
        <div class="form-group">
            <label for="tb-reg-email">Email address</label>
            <input type="email" class="form-control" id="tb-reg-email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="tb-reg-username">Username:</label>
            <input type="text" placeholder="John" id="tb-reg-username" class="form-control">
            <label for="tb-reg-pass">Password:</label>
            <input type="password" placeholder="1234" id="tb-reg-password" class="form-control">
        </div>
        <button id="btn-register" class="btn btn-primary">register</button>
        <a href="#/home" id="btn-back" class="btn btn-default">go back</a>
    </form>
</nav>