<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=6ab5v9vrn0ox7oz8zwgdlo18wlbxwj76pvwott8ywmnlwdve'></script>
<div class="new-post-block">
    <div class="section-title"><h1 class="editor-title">Create new post</h1></div>
    <form id="post-form" method="post">
        <ul class="title-author">
            <li class="single-element-form">
                <div class="justified">
                    <label for="tb-thread-title" class="title-form" id="lb-thread-title">Title: </label>
                    <input type="text" value="" id="tb-thread-title" class="form-control"/></div>
            </li>
            <li class="single-element-form">

                <div class="justified">
                    <label for="tb-thread-category" class="category-form" id="lb-thread-category">Category: </label>
                    <select  id="tb-thread-category" title="Category" class="dd-category form-control">
                        <option value="JavaScript">JS</option>
                        <option value="HTML">HTML</option>
                        <option value="JAVA">JAVA</option>
                        <option value="PHP">PHP</option>
                    </select>
                </div>
            </li>
            <li class="single-element-form">
                <br/>
                <textarea name = 'content' class="content-field" placeholder="Content" id="post-content-field"></textarea>
            </li>
        </ul>

        <br>
      <div class="justified">
            <button type="button" id="create-new-post-request-button" class="btn btn-primary">Publish</button>
    </div>
        <br/>
    </form>
</div>
