<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=6ab5v9vrn0ox7oz8zwgdlo18wlbxwj76pvwott8ywmnlwdve'></script>
<div class="edit-post-block">
    <h3 id="page-header">// add a new comment</h3>
    <form id="post-form" class="form-inline" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Author: <strong><a href="#/home/all/{{author}}">{{author}}</a></strong></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Category: </strong>
                    <span class="btn btn-warning dropdown-toggle">{{category}}</span>
                </div>
                <div style="float:right;">
                    <strong>Label: </strong>
                    <select class="btn btn-default dropdown-toggle" id="tb-comment-label">
                        <option value="important">important</option>
                        <option value="question">question</option>
                        <option value="information">information</option>
                        <option value="fun">fun</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group">
        <textarea name='content' class="form-control" id="post-content-field"></textarea>
    </div>
    <div class="form-group">
        <button type="button" id="add-comment-request-button" class="btn btn-primary btn-lg">Add comment</button>
    </div>
</div>
